<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Infer.NET</title>
	</head>
	<body>
		<div style="margin:15px">
			<div id="main_text">
				<h2>Contact</h2>
				<p>&nbsp;</p>
				<p>The best way to get help and advice is to post a 
				message on
				<a href="http://social.microsoft.com/Forums/en-US/infer.net/" target="_blank">
				the forum</a>. The
				<a href="{{site.baseurl}}/userguide/Frequently Asked Questions.html">FAQ</a> 
				and the
				<a href="http://blogs.msdn.com/b/infernet_team_blog/" target="_blank">
				Infer.NET team blog</a> also provide useful information.</p>
				<p>There are also many
				<a href="{{site.baseurl}}/userguide/Infer.NET tutorials and examples.html">
				tutorials and examples</a> which you can 
				often use as a starting off point. The 
				installation includes a Visual Studio 
				solution which allows you to run and edit 
				these examples. If you don&#39;t already have a 
				copy of Visual Studio, you can download the
				<a href="https://www.visualstudio.com/vs/community/" target="_blank">
				Visual Studio Community product</a>.</p>
				<p>If you prefer to get in contact directly, 
				you can e-mail
				<a href="mailto:infersup@microsoft.com">
				infersup@microsoft.com</a>.&nbsp; </p>
				<p>&nbsp;</p>
			</div>
		</div>
	</body>
</html>

