<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html charset=utf-8" />
		<link rel="stylesheet" href="{{site.baseurl}}/styles.css" />
    <title>Infer.NET</title>
	</head>
	<body>
		<h2>Infer.NET</h2>
    <p><span class="ms-sitemapdirectional"><strong>
		Infer.NET</strong> is a framework for running 
		Bayesian inference in graphical models. It can 
		also be used for
		<a href="http://research.microsoft.com/en-us/um/people/minka/papers/mlss2009/index.html" target="_blank">
		probabilistic programming</a> 
		as shown in
		<a href="https://channel9.msdn.com/Events/PDC/PDC09/VTL03" target="_blank">
		this video</a>.</span>&nbsp; 
		</p>
		<p>You can use Infer.NET to solve many different 
		kinds of machine learning problems, from 
		standard problems like
		<a href="{{site.baseurl}}/userguide/Learners/Bayes Point Machine classifiers.html">
		classification</a>, <a href="{{site.baseurl}}/userguide/Learners/Matchbox recommender.html">
		recommendation</a> or <a href="{{site.baseurl}}/userguide/Mixture of Gaussians tutorial.html">
		clustering</a> through to
		<a href="{{site.baseurl}}/userguide/Click through model sample.html">
		customised solutions to domain-specific problems</a>. 
		Infer.NET has been used in a wide variety of 
		domains including information retrieval, 
		bioinformatics, epidemiology, vision, and many 
		others.</p>

		<p>Infer.NET is published as open source on <a href="https://github.com/dotnet/infer" target="_blank">GitHub</a> under the MIT 
		<a href="https://github.com/dotnet/infer/blob/master/LICENSE.txt" target="_blank">license</a> and also available as NuGet <a href="https://www.nuget.org/packages?q=Microsoft.ML.Probabilistic" target="_blank">packages</a>.</p>
		<br>
		<p>
			<div class="team-div">
				<div class="grid-divs">
					<strong>Questions? Suggestions?</strong>
				</div>
				<div class="grid-divs">
					Please use <a href="http://social.microsoft.com/Forums/en-US/infer.net/" target="_blank">
					the forum</a>
					to provide feedback and to share the ways in 
					which you are using Infer.NET (or send 
					e-mail to <a href="mailto:infersup@microsoft.com">
					infersup@microsoft.com</a>).
				</div>
				<div class="grid-divs">
					<strong>Citing Infer.NET</strong>
				</div>
				<div class="grid-divs">
					If you use Infer.NET as part of your 
					research, please cite us as detailed in <a href="{{site.baseurl}}/userguide/Frequently Asked Questions.html">
					the FAQ</a>.
				</div>
			</div>
		</p>
		<div style="align-content: center;height:500px;">
			<iframe style="display:block;margin-left: auto;margin-right: auto;width:50%;height:100%;" src="https://www.youtube-nocookie.com/embed/l_X4WcsLAaQ" frameborder="0" allowfullscreen></iframe>
		</div>						
	</body>
</html>
