<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Infer.NET</title>
	</head>
	<body>
   	<div style="margin:15px">
			<div id="main_text">
				<h2>Download</h2>
				<p>Infer.NET is published as open source on <a href="https://github.com/dotnet/infer">GitHub</a> under MIT
				<a href="https://github.com/dotnet/infer/blob/master/LICENSE.txt">license</a> and also available as NuGet <a href="https://www.nuget.org/packages?q=Microsoft.ML.Probabilistic">packages</a>.</p>
				
				<p>After cloning GitHub repository you can 
					try
					<a id="the first tutorial" href="{% link userguide/Two coins tutorial.md %}">
					the first tutorial</a>.
				</p>
			</div>
		</div>
	</body>
</html>
