<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Infer.NET</title>
  </head>
  <body>
    <div style="margin: 15px">
      <div id="main_text">
         <h2>Hiring</h2>
         <p>Microsoft Research Cambridge is 
		   <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-cambridge/#!opportunities" target="_blank">hiring</a>
		   AI/Machine Learning Researchers, Post-docs, and Engineers.
         </p>
      </div>
    </div>
  </body>
</html>