<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Infer.NET</title>
  </head>
  <body>
   	<div style="margin:15px">
			<div id="main_text">
				<h2>Meet the Team</h2>
				<p>&nbsp;</p>
				<div>
					<img style="width:60%;height:auto;margin-left:auto; margin-right:auto;" src="images/Infer.NET team.jpg" />
				</div>
				<div style="font-size:1em;">
					Top row left to right: Martin Kukla, John Guiver, Tom Minka, John Winn, Sam Webster, Dany Fabian.<br> 
					Bottom row left to right: Pavel Myshkov, Yordan Zaykov, Alex Spengler 
				</div>
			</div>
		</div>
	</body>
</html>

