<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
<system.diagnostics>
  <switches>
    <!-- This line instructs XmlSerializer to leave its generated code in the TEMP directory so that you can debug it -->
    <!-- <add name="XmlSerialization.Compilation" value="1" /> -->
  </switches>
</system.diagnostics>
</configuration>
