<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77834912-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-77834912-2');
    </script>
    <title>Infer.NET</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta additions -->
    <meta name="description" content="Infer.NET is a framework for running Bayesian inference in graphical models. It can be used to solve many different kinds of machine learning problems, from standard problems like classification, recommendation or clustering through customised solutions to domain-specific problems.">
    <meta property="og:title" content="Infer.NET">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Infer.NET is a framework for running Bayesian inference in graphical models. It can be used to solve many different kinds of machine learning problems, from standard problems like classification, recommendation or clustering through customised solutions to domain-specific problems.">
    <meta property="twitter:title" content="Infer.NET">
    <meta property="twitter:description" content="Infer.NET is a framework for running Bayesian inference in graphical models. It can be used to solve many different kinds of machine learning problems, from standard problems like classification, recommendation or clustering through customised solutions to domain-specific problems.">
    <!-- Stylesheet requirements -->
    <!-- Visit the CDN documentation to learn about versions. -->
    <link rel="stylesheet"
          href="https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.26.0/css/mwf-west-european-default.min.css">
    <!-- Stylesheet additions -->
    <link rel="stylesheet" href="{{site.baseurl}}/styles.css" />
    <!-- Include as a single optimized css file on CDN. -->
    <!-- ... -->
</head>
<body>
    <!-- Accessibility requirement -->
    <a class="m-skip-to-main" href="#mainContent" tabindex="0">Skip to main content</a>

    <!-- Universal header -->

    <header id="site-navigation">
        <div class="header-content" data-grid="container">
          <a href="{{site.baseurl}}/default.html">
            <div class="c-logo" style="margin-right: 2px;" href="/">
                <img style="width:50px;height:50px;" src="{{site.baseurl}}/images/InferNET_logo_128x128.png"/>
            </div>
            <div class="c-logo" style="color:white;" href="/"><span>Infer.NET</span></div>
          </a>
            <nav class="m-navigation-bar" role="navigation">
                <a class="c-hyperlink" href="{{site.baseurl}}/download.html">Download</a>
                <div class="c-navigation-menu">
                    <button aria-controls="navigationMenuA" aria-haspopup="true" aria-expanded="false">Documentation</button>
                    <ul id="navigationMenuA" aria-hidden="true">
                        <li><a href="{{site.baseurl}}/userguide">User Guide</a></li>
                        <li><a href="{{site.baseurl}}/userguide/Infer.NET tutorials and examples.html">Tutorials &amp; Examples</a></li>
                        <li><a href="{{site.baseurl}}/userguide/Infer.NET Learners.html">Learners</a></li>
                        <li><a href="{{site.baseurl}}/apiguide/api/index.html">API Documentation</a></li>
                    </ul>
                </div>
                <div class="c-navigation-menu">
                    <button aria-controls="navigationMenuB" aria-haspopup="true" aria-expanded="false">Case Studies</button>
                    <ul id="navigationMenuB" aria-hidden="true">
                        <li><a href="{{site.baseurl}}/papers.html">Papers using Infer.NET</a></li>
                        <li>
                            <a href="https://web.archive.org/web/20171213055446/https:/www.microsoft.com/en-us/researchconnections/science/stories/machine-learning.aspx" target="_blank">Childhood Asthma</a>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20171213055913/http:/www.microsoft.com:80/en-us/researchconnections/science/stories/disease-genetics.aspx" target="_blank">Genetic Causes of Disease</a>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation-menu">
                    <button aria-controls="navigationMenuE" aria-haspopup="true" aria-expanded="false">Team</button>
                    <ul id="navigationMenuE" aria-hidden="true">
                        <li><a href="{{site.baseurl}}/meettheteam.html">Meet the Team</a></li>
                        <li><a href="https://www.microsoft.com/en-us/research/group/machine-intelligence-and-perception/" target="_blank">MIP Group</a></li>
                        <li><a href="{{site.baseurl}}/hiring.html">Job openings</a></li>
                        <li><a href="http://research.microsoft.com/cambridge" target="_blank">MSR Cambridge</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main page content should be wrapped with semantically meaningful html elements (e.g.: article, main) whenever possible. A div element can be used as long as it also contains a role="main" for Accessibility. -->
    <main id="mainContent" data-grid="container">
        
        {{content}}

    </main>

    <!-- Universal footer -->
    <!-- JavaScript requirements -->
    <!-- Include before </body>. Use the script file based on preference (UMD, AMD, CommonJS, Auto, etc.) -->
    <script async="async"
            src="https://assets.onestore.ms/cdnfiles/external/mwf/short/v1/latest/scripts/mwf-auto-init-main.var.min.js"></script>
    <noscript></noscript>

    <!-- JavaScript dependencies -->
    <!-- ... -->
    <!-- JavaScript additions -->
    <!-- ... -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowplayer/7.2.5/flowplayer.min.js" type="text/javascript"></script>

</body>
</html>
